* {
  font-family: 'Hack', monospace;
  color: rgb(11, 212, 28) ;
  background-color: black;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e252e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

